.order_button
{
  background-color: #9e0000;
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 8px;
  color: white;
  border: 2px solid #9e0000;
  position: absolute;
  bottom: 1%;
  left: 45.5%;
  cursor: pointer;
}
 
.order_button_driver
{
  background-color: #9e0000;
  font-size: 15px;
  padding: 14px 40px;
  border-radius: 8px;
  color: white;
  border: 2px solid #9e0000;
  cursor: pointer;
}

.client_info
{
    text-align: center;
}

.card
{
      margin-left: 15em;
      width: 40rem;
      background: no-repeat;
      color: white;
      text-shadow: 4px 2px black;
}

.card-header
{
  text-align: center;
  color: white;
  font-size: xx-large;
}

.btn-primary {
    background-color: #9e0000;
    border-color: white;
    text-align: center;
    width: 100%!important;
    height: 60px!important;
    font-size: x-large;
    border-radius: 30px!important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9e0000;
    border: 5px!important;
    border-color: #0a58ca;
}

nav {
  background-color: #F3F0E8;
  color: #222222;
  padding: 5px 60px!important;
  display: flex!important;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px!important;
}

nav li a:hover {
  color: #9e0000;
  text-decoration: none;
}


.avatar {
  width: 90%;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}

Div.loginDiv {
  margin-top: 5rem!important;
}

h4.HomeLogo a {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

h4.HomeLogo a:hover {
  color: #9e0000;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

h4.HomeLogo {
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

div.containerr {
  margin-top: 40px;
  margin-left: 280px;


}
.p-3 {
  height: 12rem;
    border-radius: 1.5rem!important;
}

.shadow-lgm {
    box-shadow: 0rem 1rem 1rem rgba(1,1,2,0.3)!important;
}

.col-6 {
    flex: 0 0 auto;
    width: 390px!important;
}

.homepageimg {
  width: 30%;
  float: right;
  margin: 20px 70px;
  border-radius: 50px;
}

.site_logo {
    float: left;
    width: 350px;
}

.home_button {
  background-color:#9E0000!important;
  color: white!important;
  width: 250px!important;
  height: 50px!important;
  border-radius: 30px!important;
}
.mt-4 {
    margin-top: 0rem!important;
}

.homepage_Div {
  text-transform: uppercase;
  /*height:90vh;*/
  width: 100%;
}

.home_title_button {
  text-transform: uppercase;
	text-decoration: none;
	margin-left: 40px;
}

.home_title {
  width: 750px;
}

.alert{
  text-shadow: 0 0 black!important;
}

/* Mobile*/

@media only screen and (max-device-width: 500px) {

  .home_title_button {
    text-transform: uppercase;
  	text-decoration: none;
  	margin-left: 120px;
  }

  .homepage_Div {
    text-transform: uppercase;
    width: 65%;
    margin-top: 400px;
    margin-left: 150px;
    font-size: xx-large;
  }

}
